body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.container_2{
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1{
    text-align: center;
    font-size: 44px;
    color: #333333;
    margin-top: 0;
}
h3.name{
    text-align: center;
    font-size: 25px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 40px;
}
h3.list{
    margin-top: 30px;
    margin-bottom: -15px;
}
h3.after_list{
    margin-top: -10px;
    margin-bottom: 10px;
}

img.profile{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
img.profile:hover{
    
}

table,th,td{
    border: 1px solid rgb(13,220,48);
    font-size: 28;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 18px;
}
table td, table th{
    padding: 5px;
    border: 1px solid #ccc;
}
table th{
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

ul{
    padding: 0; /*space between two list titles*/
    margin: 30px; /*margin page*/
}
ul li{
    padding: 5px;
    font-size: 18px;
}

/* a{
    color: #333;
    text-decoration: none;
}*/
a:hover{text-decoration: underline;}